body {
  background-color: #f0f8ff;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form {
  display: flex;
  background-color: #d4e3f7;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 40%;
  max-width: 450px;
  margin: 40px auto;
  margin-left: 15%;
  margin-right: 10%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.form input,
select {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.form button {
  width: 100%;
  padding: 10px 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.form button:hover {
  background-color: #0056b3;
}

.result {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#main-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.car-architecture-container {
  position: relative;
  display: inline-block;
  width: 50%;
  max-width: 50%;
}

.car-architecture {
  width: 70%;
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: block;
  margin-top: 40px;
  margin-right: 5%;
  position: relative;
}

.parca {
  position: absolute;
  border: 0px solid black;
  top: 30%;
  left: 50%;
}

.parca.arka-tampon {
  top: 464px;
  left: 215px; 
  transform: translate(-50%, -50%);
  width: 140px; 
  height: 4%; 
  border-radius: 10px;
}

.parca.arka-kaput {
  top: 400px;
  left: 213px; 
  transform: translate(-50%, -50%);
  width: 100px; 
  height: 7%; 
  border-radius: 10px;
}

.parca.on-tampon {
  top: 95px;
  left: 214px; 
  transform: translate(-50%, -50%);
  width: 138px; 
  height: 7%; 
  border-radius: 10px;
}

.parca.sag-on-camurluk {
  top: 190px;
  left: 345px; 
  transform: translate(-50%, -50%);
  width: 55px; 
  height: 11%; 
  border-radius: 10px;
}

.parca.sol-on-camurluk {
  top: 190px;
  left: 85px; 
  transform: translate(-50%, -50%);
  width: 55px; 
  height: 11%; 
  border-radius: 10px;
}

.parca.sol-on-kapi {
  top: 270px;
  left: 105px; 
  transform: translate(-50%, -50%);
  width: 80px; 
  height: 7%; 
  border-radius: 10px;
}

.parca.sol-arka-kapi {
  top: 332px;
  left: 105px; 
  transform: translate(-50%, -50%);
  width: 80px; 
  height: 10%; 
  border-radius: 10px;
}

.parca.sag-on-kapi {
  top: 270px;
  left: 330px; 
  transform: translate(-50%, -50%);
  width: 80px; 
  height: 12%; 
  border-radius: 10px;
}

.parca.sag-arka-kapi {
  top: 332px;
  left: 330px; 
  transform: translate(-50%, -50%);
  width: 80px; 
  height: 10%; 
  border-radius: 10px;
}

.parca.sag-arka-camurluk {
  top: 390px;
  left: 330px; 
  transform: translate(-50%, -50%);
  width: 80px; 
  height: 5%; 
  border-radius: 10px;
}

.parca.sol-arka-camurluk {
  top: 390px;
  left: 105px; 
  transform: translate(-50%, -50%);
  width: 80px; 
  height: 5%; 
  border-radius: 10px;
}

.definition {
  background-color: white;
  width: 70%;
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: block;
  margin-top: 40px;
}

.definition>ul>li {
  position: relative;
  padding-left: 5px;
}

.definition>ul>li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#original {
  color: green;
}

#local {
  color: yellow;
}

#painted {
  color: darkorange;
}

#changed {
  color: red;
}

#undefined {
  color: gray;
}

.caro {
  max-width: 85%;
  margin: 0 auto; 
}

.carousel-inner {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}